// ANIMATIONS

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.85);
  }
  12% {
    transform: scale(1.2);
  }
  15% {
    transform: scale(0.9);
  }
  17% {
    transform: scale(1.1);
  }
  20% {
    transform: scale(1);
  }
}

// Styling for the navbar
.navbar-root {
  background-color: $gray-900;
  .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: white !important;
    border: 0;
    background-color: $primary;
    @include heading-font;
  }
  .navbar-brand {
    color: $primary !important;
    text-shadow: 0 0 8px $primary !important;
    transition: color 150ms !important;
    font-family: Verdana !important;
    &.active,
    &:active,
    &:focus,
    &:hover {
      color: darken($primary, 10%) !important;
    }
  }

  .pixel-heart {
    animation-name: heartbeat;
    animation-duration: 2000ms;
    animation-delay: 2000ms;
    animation-iteration-count: infinite;
  }
}
@media (min-width: 992px) {
  .navbar-root {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent;
    .navbar-brand {
      display: flex;
      align-items: center;
      font-size: 1.75em;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }
    &.navbar-shrink {
      padding-top: 0;
      padding-bottom: 0;
      background-color: $gray-900;
      .navbar-brand {
        font-size: 1.25em;
        padding: 12px 0;
      }
    }
  }
}
