// Styling for the services section
.service-item-image {
  width: 128px;
  height: 128px;
  margin: auto;
}
.service-item-heading {
  margin: 15px 0;
  text-transform: none;
}

#Services .text-center.row div:last-child p {
  margin-bottom: 0rem !important;
}

.section-header h2.section-heading {
  margin-bottom: 3rem;
  @media (min-width: 768px) {
    margin-bottom: 5rem;
  }
}
