// Styling for the team section
.team-member {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  .circle {
    width: 225px;
    height: 225px;
    border: 7px solid fade-out($black, 0.9);
  }
  h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
  }
  p {
    margin-top: 0;
  }
  &-info {
    flex-basis: 50%;
    text-align: center;
  }
  &-presentation {
    flex-basis: 50%;
    padding: 10px 0;
  }
  @media (max-width: 768px) {
    flex-direction: column;
  }
}
